@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root{
    --text-monospace-one : 'Syne Mono', monospace;
    --text-monospace-two : 'Major Mono Display', monospace;
    --text-cursive-one : 'Amatic SC', cursive; 
}

.title-text{
    font-family: var(--text-monospace-two);
}

.title-tagline{
    font-family: var(--text-cursive-one);
}