@font-face {
    font-family: 'Comfortaa';
    src: url('../../assets/fonts/Comfortaa-Regular.ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Titllium';
    src: url('../../assets/fonts/TitilliumWeb-Regular.ttf');
    font-style: normal;
    font-weight: 100;
}

.link {
    text-decoration: none;
    font-family: 'Titllium'!important ;
    border-style: none;
}
