
@font-face {
    font-family: 'debug';
    src: url('../../assets/fonts/debug.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Tele-Marines';
    src: url('../../assets/fonts/Telev2b.ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../assets/fonts/Comfortaa-Regular.ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Gogoia';
    src: url('../../assets/fonts/GOGOIA-Regular.ttf');
    font-style: normal;
    font-weight: 100;
}

:root{
    --text-gaming-three : 'Tele-Marines';
    --text-gaming-debug : 'debug'
    --text-minimal-one : 'Comfortaa'
    --tetx-minimal-two : 'Gogoia'
}



.title-text{
    font-family: var(--text-minimal-one);
}

.title-tagline{
    font-family: var(--text-minimal-two);
}

.blur{
    backdrop-filter: blur(1rem);
}